*.bak
*.sw[a-z]
#don't commit configuration files
#run generateConfig.py and name
#appropriately
config*.json
infrastructure
bin
!infrastructure/
infrastructure/*
!infrastructure/debian
!infrastructure/aws
infrastructure/debian/mykeystore
infrastructure/debian/*.deb
infrastructure/debian/etc/ssl
