*.bak
*.sw[a-z]
#don't commit configuration files
#run generateConfig.py and name
#appropriately
config*.json
infrastructure
bin
bindata.go
node_modules/
pkg/linux_amd64/github.com/jteeuwen/go-bindata.a
src/github.com/jteeuwen/go-bindata
