<!DOCTYPE html>
<!--TODO html escaping-->
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{.G.CssSrc}}">
  </head>
  <body>
    <!-- TODO create a separate file for this icon map -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
      <symbol id="icon-account-box" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
        <path d="M12 5.9c1.16 0 2.1.94 2.1 2.1s-.94 2.1-2.1 2.1-2.1-.94-2.1-2.1.94-2.1 2.1-2.1m0 9c2.97 0 6.1 1.46 6.1 2.1v1.1h-12.2v-1.1c0-.64 3.13-2.1 6.1-2.1m0-10.9c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm0 9c-2.67 0-8 1.34-8 4v3h16v-3c0-2.66-5.33-4-8-4z"></path>
      </symbol>
      <symbol id="icon-exit" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
        <path d="M10.09 15.59l1.41 1.41 5-5-5-5-1.41 1.41 2.58 2.59h-9.67v2h9.67l-2.58 2.59zm8.91-12.59h-14c-1.11 0-2 .9-2 2v4h2v-4h14v14h-14v-4h-2v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2z"></path>
      </symbol>
      <symbol id="icon-lock" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
        <path d="M18 8h-1v-2c0-2.76-2.24-5-5-5s-5 2.24-5 5v2h-1c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2v-10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9h-6.2v-2c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z"></path>
      </symbol>
      <symbol id="icon-settings" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
        <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65c-.03-.24-.24-.42-.49-.42h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zm-7.43 2.52c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"></path>
      </symbol>
      <symbol id="icon-domain" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
        <path d="M12 7v-4h-10v18h20v-14h-10zm-6 12h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2v-2h2v2zm4 12h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2v-2h2v2zm0-4h-2v-2h2v2zm10 12h-8v-2h2v-2h-2v-2h2v-2h-2v-2h8v10zm-2-8h-2v2h2v-2zm0 4h-2v2h2v-2z"></path>
      </symbol>
      <symbol id="icon-notes" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
        <path d="M20 2h-16c-1.1 0-1.99.9-1.99 2l-.01 18 4-4h14c1.1 0 2-.9 2-2v-12c0-1.1-.9-2-2-2zm-2 12h-12v-2h12v2zm0-3h-12v-2h12v2zm0-3h-12v-2h12v2z"></path>
      </symbol>
      <symbol id="icon-event-expire" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
        <path d="M9.31 17l2.44-2.44 2.44 2.44 1.06-1.06-2.44-2.44 2.44-2.44-1.06-1.06-2.44 2.44-2.44-2.44-1.06 1.06 2.44 2.44-2.44 2.44 1.06 1.06zm9.69-14h-1v-2h-2v2h-8v-2h-2v2h-1c-1.11 0-1.99.9-1.99 2l-.01 14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-14v-11h14v11z" ></path>
      </symbol>
      <symbol id="icon-category" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
        <path d="M17.63 5.84c-.36-.51-.96-.84-1.63-.84l-11 .01c-1.1 0-2 .89-2 1.99v10c0 1.1.9 1.99 2 1.99l11 .01c.67 0 1.27-.33 1.63-.84l4.37-6.16-4.37-6.16zm-1.63 11.16h-11v-10h11l3.55 5-3.55 5z"></path>
      </symbol>
      <symbol id="icon-eye" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
        <path d="M12 4.5c-5 0-9.27 3.11-11 7.5 1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5zm0 12.5c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z"></path>
      </symbol>
      <symbol id="icon-back-arrow" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
        <path d="M20 11h-12.17l5.59-5.59-1.42-1.41-8 8 8 8 1.41-1.41-5.58-5.59h12.17v-2z" data-reactid=".0.1.$19.0.0.0.0"></path>
      </symbol>
    </svg>
    <section id="EditNewPassword">
      <header>
        <div>
          <h1>Edit/New Password</h1>
        </div>
        <div>
          <a href="{{.G.PasswordsLoc}}">
            <button class="btn btn-tertiary btn-small">
              <svg class="icon">
                <use xlink:href="#icon-back-arrow"/>
              </svg>
              <span>Passwords</span>
            </button>
          </a>
          <a href="{{.G.LogoutLoc}}">
            <button class="btn btn-tertiary btn-small">
              <svg class="icon">
                <use xlink:href="#icon-exit"/>
              </svg>
              <span>Logout</span>
            </button>
          </a>
        </div>
      </header>
      <div class="module">
        <form method="POST" action="{{.G.ProcessFormLoc}}">
          <input type="hidden" name="{{.G.NonceFormName}}" value="{{.D.Nonce}}" /> 
          <input type="hidden" name="{{.G.RequiresLoginFormName}}" value="true" /> 
          <input type="hidden" name="{{.G.ActionFormName}}" value="{{.D.Action}}" />
          <input type="hidden" name="id" value="{{.D.ID}}" />
          <div class="field-container">
            <label>
              <svg class="icon">
                <use xlink:href="#icon-account-box"/>
              </svg>
            </label>
            <input type="text" name="user_name" value="{{.D.UserName}}" placeholder="username" required/>
          </div>
          <div class="field-container">
            <label>
              <svg class="icon padTop">
                <use xlink:href="#icon-lock"/>
              </svg>
            </label>
            <input type="password" name="password" value="{{.D.Password}}" placeholder="password" required/>
            <svg class="icon padHorz padTop">
              <use xlink:href="#icon-eye"/>
            </svg>
            <button class="btn btn-tertiary btn-small">
              <svg class="icon">
                <use xlink:href="#icon-settings"/>
              </svg>
              <span>Generate</span>
            </button>
          </div>
          <div class="field-container">
            <label>
              <svg class="icon">
                <use xlink:href="#icon-domain"/>
              </svg>
            </label>
            <input type="text" name="domain" value="{{.D.Domain}}" placeholder="domain" required/>
          </div>
          <div class="field-container">
            <label>
              <svg class="icon">
                <use xlink:href="#icon-notes"/>
              </svg>
            </label>
            <textarea rows="10" cols="50" name="notes" placeholder="notes">{{.D.Notes}}</textarea>
          </div>
          <div class="field-container">
            <label class="padTop">Expiration Date:</label>
            <label>
              <svg class="icon padTop">
                <use xlink:href="#icon-event-expire"/>
              </svg>
            </label>
            <input type="date" name="expires" value="{{.D.Expires}}" placeholder="YYYY-MM-DD"/>
          </div>
          <!--TODO disable if new option is not selected-->
          <div class="field-container">
            <label>
              <svg class="icon">
                <use xlink:href="#icon-category"/>
              </svg>
            </label>
            <select name="category">
              <option value="0">New Category</option>
              {{range .D.Categories}}
              <option value="{{.Value}}"{{if .Selected}} selected="selected"{{end}}>
                {{.Category}}
              </option>
              {{end}}
            </select>
          </div>
          <div class="field-container">
            <input type="text" name="new_category" placeholder="new category" required/>
          </div>
          <div class="field-container">
            <button class="btn-full" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
