<!DOCTYPE html>
<!--TODO html escaping-->
<html>
  <style type="text/css">
    ul {
      list-style: none;
    }
    label {
      display: inline-block;
      width: 210px;
      text-align: right;
    }
  </style>
  <h1>Update/New Password</h1>
  <form method="POST" action="{{.G.ProcessFormLoc}}">
    <input type="hidden" name="{{.G.NonceFormName}}" value="{{.D.Nonce}}" /> 
    <input type="hidden" name="{{.G.RequiresLoginFormName}}" value="true" /> 
    <input type="hidden" name="{{.G.ActionFormName}}" value="{{.D.Action}}" />
    <input type="hidden" name="id" value="{{.D.ID}}" />
    <ul>
      <li>
        <label for="user_name">User Name: </label>
        <input type="text" name="user_name" value="{{.D.UserName}}" required/>
      </li>
      <li>
        <label for="password">Password: </label>
        <input type="text" name="password" value="{{.D.Password}}" required/>
      </li>
      <li>
        <label for="domain">Domain: </label>
        <input type="text" name="domain" value="{{.D.Domain}}"/>
      </li>
      <li>
        <label for="notes">Notes: </label>
        <textarea name="notes" rows="10" cols="50">{{.D.Notes}}</textarea>
      </li>
      <li>
        <label for="expires">Expiration Date: </label>
        <input type="date" name="expires" value="{{.D.Expires}}" placeholder="YYYY-MM-DD"/>
      </li>
      <li>
        <!--TODO disable if new option is not selected-->
        <label for="new_category">New Category: </label>
        <input type="text" name="new_category"/>
      </li>
      <li>
        <label for="category">Category: </label>
        <select name="category">
          <option value="0">New Category</option>
          {{range .D.Categories}}
          <option value="{{.Value}}"{{if .Selected}} selected="selected"{{end}}>
            {{- .Category -}}
          </option>
          {{end}}
        </select>
      </li>
    </ul>
    <input type="submit" value="Save" />
  </form>
</html>
