<!DOCTYPE html>
<!--TODO html escaping-->
<html>
  <style type="text/css">
    ul {
      list-style: none;
    }
    label {
      display: inline-block;
      width: 210px;
      text-align: right;
    }
  </style>
  <h1>Update/New Password</h1>
  <form method="POST" action="{{.G.ProcessFormLoc}}">
    <input type="hidden" name="{{.G.NonceFormName}}" value="{{.D.Nonce}}" /> 
    <input type="hidden" name="{{.G.RequiresLoginFormName}}" value="true" /> 
    <input type="hidden" name="{{.G.ActionFormName}}" value="new_password" />
    <ul>
      <li>
        <label for="user_name">User Name: </label>
        <input type="text" name="user_name" value="{{.D.UserName}}" required/>
      </li>
      <li>
        <!--TODO ajax stuff to pull password when desired...-->
        <label for="password">Password: </label>
        <input type="text" name="password" required/>
      </li>
      <li>
        <label for="domain">Domain: </label>
        <input type="text" name="domain" value="{{.D.Domain}}"/>
      </li>
      <li>
        <label for="notes">Notes: </label>
        <textarea name="notes" rows="10" cols="50">{{.D.Notes}}</textarea>
      </li>
      <li>
        <!--TODO probably have to write a date picker or something-->
        <label for="expires">Expiration Date: </label>
        <input type="text" name="expires"/>
      </li>
      <li>
        <label for="category">Category: </label>
        <select name="category">
          {{range .D.Categories}}
            <option value="{{.Value}}" {{if .Selected}}selected="selected"{{end}}>
              {{- .Category -}}
            </option>
          {{end}}
        </select>
      </li>
    </ul>
  </form>
</html>
