<!DOCTYPE html>
<!-- TODO expiration to proper syntax -->
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{.G.CssSrc}}">
  </head>
  <body>
    <!-- TODO create a separate file for this icon map -->
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
      <symbol id="icon-plus" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
        <path d="M19 13h-6v6h-2v-6h-6v-2h6v-6h2v6h6v2z"></path>
      </symbol>
      <symbol id="icon-exit" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
        <path d="M10.09 15.59l1.41 1.41 5-5-5-5-1.41 1.41 2.58 2.59h-9.67v2h9.67l-2.58 2.59zm8.91-12.59h-14c-1.11 0-2 .9-2 2v4h2v-4h14v14h-14v-4h-2v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2z"></path>
      </symbol>
      <symbol id="icon-copy" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
        <path d="M16 1h-12c-1.1 0-2 .9-2 2v14h2v-14h12v-2zm3 4h-11c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h11c1.1 0 2-.9 2-2v-14c0-1.1-.9-2-2-2zm0 16h-11v-14h11v14z"></path>
      </symbol>
      <symbol id="icon-edit" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
        <path d="M3 17.25v3.75h3.75l11.06-11.06-3.75-3.75-11.06 11.06zm17.71-10.21c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"></path>
      </symbol>
      <symbol id="icon-delete" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2v-12h-12v12zm13-15h-3.5l-1-1h-5l-1 1h-3.5v2h14v-2z" ></path>
      </symbol>
    </svg>
    <section id="Passwords">
      <header>
        <div>
          <h1>Passwords</h1>
        </div>
        <div>
          <a href="{{.G.NewPasswordLoc}}">
            <button class="btn btn-primary btn-small">
              <svg class="icon">
                <use xlink:href="#icon-plus"/>
              </svg>
              <span>New</span>
            </button>
          </a>
          <a href="{{.G.LogoutLoc}}">
            <button class="btn btn-tertiary btn-small">
              <svg class="icon">
                <use xlink:href="#icon-exit"/>
              </svg>
              <span>Logout</span>
            </button>
          </a>
        </div>
      </header>
      <div class="module">
        <div class="table-container">
          <h2>Categories</h2>
          {{$global := .G}}
          {{range $cat, $pws := .D.DisplayMap}}
            <div class="collapsibleTrigger row">
              <div class="col cat-title">{{$cat}}</div>
            </div>
            <div class="collapsibleTarget row">
              <table>
                <thead>
                  <th>Domain</th>
                  <th>User Name</th>
                  <th>Actions</th>
                </thead>
                <tbody>
                {{range $pws}}
                  <tr>
                    <td>{{.Domain}}</td>
                    <td>{{.UserName}}</td>
                    <td>
                      <button class="copy btn btn-tertiary btn-small" data-copy-token="{{.Tokens.Copy}}">
                        <svg class="icon">
                          <use xlink:href="#icon-copy"/>
                        </svg>
                        <span>Copy</span>
                      </button>
                      <a class="btn-anchor" href="{{$global.EditPasswordLoc}}{{.Tokens.Edit}}">
                        <button class="edit btn btn-tertiary btn-small">
                          <svg class="icon">
                            <use xlink:href="#icon-edit"/>
                          </svg>
                          <span>Edit</span>
                        </button>
                      </a>
                      <button class="delete btn btn-tertiary btn-small" data-delete-token="{{.Tokens.Delete}}">
                        <svg class="icon">
                          <use xlink:href="#icon-delete"/>
                        </svg>
                        <span>Delete</span>
                      </button>
                    </td>
                  </tr>
                {{end}}
              </tbody>
            </table>
          </div>
        {{end}}
      </div>
    </section>
    <input type="text" id="password_container"/>
    <script type="text/javascript" src="{{.D.JS}}"></script>
    <script type="text/javascript">
      AJAX_EP = "{{.G.AjaxEndpoint}}"
    </script>
  </body>
</html>
