<!DOCTYPE html>
<!-- TODO expiration to proper syntax -->
<html>
  <style type="text/css">
    img {
      cursor: pointer;
    }
    table {
      border-collapse: collapse;
    }
    td, th {
      border: 1px solid #999;
      padding: 0.5rem;
      text-align: left;
    }
    ul {
      list-style: none;
    }
  </style>
  <h1>Passwords</h1>
  <h3><a href="{{.G.EditPasswordLoc}}">New</a></h3>
  <ul>
  {{$global := .G}}
  {{range $cat, $pws := .D.DisplayMap}}
    <li>
      <h3>{{$cat}}</h3> 
      <table>
        <thread><tr><th>Domain</th><th>User Name</th><th>Actions</th></tr></thread>
        <tbody>
          {{range $pws}}
            <tr class="{{.ID}}">
              <td>{{.Domain}}</td>
              <td>{{.UserName}}</td>
              <td>
                <img class="copy" src="{{$global.CopyImg}}" onclick="copyPW(this)"/>
                <a href="{{$global.EditPasswordLoc}}?id={{.ID}}">
                  <img class="edit" src="{{$global.EditImg}}" />
                </a>
                <img class="delete" src="{{$global.DeleteImg}}" onclick="deletePW(this)"/>
              </td>
            </tr> 
          {{end}}
        </tbody>
      </table>
    </li>
  {{end}}
  </ul>
  <script src="{{.D.JS}}"></script>
</html>
