section#EditNewPassword {
  max-width: 600px;
  margin: 0 auto;
  padding: 3rem;
  h2 {
    font-size: 1.5rem;
    padding: 0 0.5rem;
    text-align: left;
    border-bottom: 1px solid $icon-gray;
  }
}

.iconEye {
  cursor: pointer;
}

.pwGenerator {
  background-color: $bg-light-gray;
}

.generatedPw, .excludedChars {
  width: 100%;
}

.pwGenFields {
  input[type=number] {
    width: 50px;
  }
  input[type=checkbox] {
    margin-left: 0;
  }
}
