section#Passwords {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem;
  h2 {
    font-size: 1.5rem;
    padding: 0 0.5rem;
    text-align: left;
    border-bottom: 1px solid $icon-gray;
  }
  .collapsibleTrigger {
    &:hover {
      background-color: $bg-light-gray;
    }
    .col {
      padding: 1rem 0.5rem;
    }
  }
  .collapsibleTarget {
    background-color: $bg-light-gray;
    border-bottom: 1px solid #dadada;
  }
  .cat-title {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1rem;
  }
}
input#password_container {
  border: none;
  background: transparent;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

